@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ucqyet");
  src: url("../fonts/icomoon.eot?ucqyet#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ucqyet") format("truetype"),
    url("../fonts/icomoon.woff?ucqyet") format("woff"),
    url("../fonts/icomoon.svg?ucqyet#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?niyr20");
  src: url("../fonts/icons/icomoon.eot?niyr20#iefix")
      format("embedded-opentype"),
    url("../fonts/icons/icomoon.ttf?niyr20") format("truetype"),
    url("../fonts/icons/icomoon.woff?niyr20") format("woff"),
    url("../fonts/icons/icomoon.svg?niyr20#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email-1:before {
  content: "\e900";
}
.icon-Star:before {
  content: "\e901";
}
.icon-Living-room:before {
  content: "\e902";
}
.icon-Kitchen:before {
  content: "\e903";
}
.icon-Dining-room:before {
  content: "\e904";
}
.icon-Office:before {
  content: "\e905";
}
.icon-Bed-room:before {
  content: "\e906";
}
.icon-Hallway:before {
  content: "\e907";
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.23;
}

h2 {
  font-size: 32px;
  line-height: 1.63rem;
  color: #242424;
}

#header {
  padding: 26px 0;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  color: #244d4d;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
}

#header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

#header .menu a {
  font-family: "DM Sans";
  font-size: 16px;
  color: #161616;
  text-transform: capitalize;
}

#header .menu a:hover {
  color: blue;
}

#header .menu li {
  margin: 0 25px;
}

#header .left-holder {
  display: flex;
}

#header .left-holder i {
  font-size: 21px;
  color: #244d4d;
  margin-left: 30px;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.top-section {
  margin-bottom: 70px;
}

.top-section .container {
  display: flex;
}

.top-section .img-box {
  width: 34.3%;
  flex-shrink: 0;
}

.top-section .text-box {
  padding: 80px 18px 18px 100px;
  background: #154444;
  color: #fff;
}

.btn-default {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-width: 172px;
  font-size: 20px;
  line-height: 1.25;
  color: #154444;
  background: #fff;
  padding: 15px 25px;
}

.btn-green {
  font-size: 12px;
  background-color: #244d4d;
  color: #fff;
  min-width: 78px;
  padding: 10px 15px;
  line-height: 1.18rem;
}

.furniture-section {
  padding: 70px 0 55px;
}

.second-container .container ul {
  list-style: none;
}

.second-container {
  padding: 70px 0;
}

.second-container .container {
  min-width: 1082px;
  padding: 0;
}

.sc-header {
  font-size: 32px;
  line-height: 1.31rem;
  color: #244d4d;
  margin: 0 0 40px;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

.top-wrap {
  display: flex;
  margin: 0 0 80px;
  align-items: center;
}

.top-wrap p {
  margin: 0;
}

.top-wrap .btn-list {
  list-style: none;
  display: flex;
  margin: 0 0 0 20px;
  padding: 0;
}

.top-wrap .btn-list li {
  margin-left: 15px;
}

.top-wrap .btn-list button {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #f4f6f6;
  color: #d1cece;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.top-wrap .btn-list .icon-arrow-right {
  color: #666;
}

.three-columns {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}

.three-columns .bg-frame {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
}

.three-columns .description {
  font-weight: 500;
  margin: 0 0 20px;
}

.three-columns .left-box {
  padding: 0 15px 0 0;
}

.three-columns .price {
  color: #154444;
  font-size: 24px;
  line-height: 1.29rem;
  margin: 0;
}

.three-columns .columns {
  padding: 15px;
  width: 33.33%;
}

.three-columns .shadow-holder {
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
}

.three-columns .col-list {
  list-style: none;
  display: flex;
  margin: 0 0 20px;
}
.three-columns .col-list li {
  margin-left: 8px;
}

.three-columns .col-list button {
  width: 26px;
  height: 26px;
  background: #ecf4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000;
  border-radius: 50%;
}

.three-columns .col-list button:hover {
  background: #ef5423;
  cursor: pointer;
  color: #fff;
}
.all-furniture {
  margin-bottom: 140px;
}
.all-furniture h2 {
  text-align: center;
}

.all-furniture .btn-list {
  display: flex;
  justify-content: center;
  margin: 0 0 80px;
}

.all-furniture .btn-list button {
  position: relative;
  font-size: 24px;
  color: #919090;
  padding: 0 50px;
  padding-bottom: 4px;
  transition: all 0.3s;
}

.all-furniture .btn-list button:hover {
  color: #154444;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1.1);
}

.all-furniture .btn-list button:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  display: block;
  transform: translateX(50%);
  width: 58px;
  height: 2px;
  background: #154444;
  opacity: 0;
  transition: all 0.3s;
}

.all-furniture .btn-list button:hover::before {
  opacity: 1;
}

.all-furniture .two-columns {
  display: flex;
  align-items: flex-start;
}

.all-furniture .two-columns .col_img {
  position: relative;
  width: 48%;
  flex-shrink: 0;
  padding: 12px;
}

.all-furniture .two-columns .col_img img {
  position: relative;
  z-index: 2;
}

.all-furniture .two-columns .col_img::before,
.all-furniture .two-columns .col_img::after {
  content: "";
  position: absolute;
  display: block;
  width: 190px;
  height: 85px;
  background: #154444;
}

.all-furniture .two-columns .col_img::before {
  content: "";
  top: 0rem;
  left: 0;
}

.all-furniture .two-columns .col_img::after {
  content: "";
  bottom: 0rem;
  right: 0;
}

.all-furniture .two-columns .col {
  flex-grow: 1;
  padding: 26px 0 0 11.4%;
}

.all-furniture .option-list {
  display: flex;
  flex-wrap: wrap;
}

.all-furniture .option-list li {
  width: 50%;
  padding: 15px;
}

.all-furniture .option-list .border {
  border: 1px solid #d9dce5;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: #808080;
  font-size: 16px;
  line-height: 1.1rem;
  transition: all 0.3s;
}

.all-furniture .option-list .border:hover {
  background: #154444;
  color: #ffffff;
}

.all-furniture .option-list i {
  margin: 0 0 13px;
  font-size: 24px;
}

.all-furniture .option-list p {
  margin: 0;
}

.customers-section .container {
  display: flex;
}

.customers-section .cust {
  align-items: flex-start;
}

.customers-section .img-wrap {
  position: relative;
  width: 46%;
  flex-shrink: 0;
  padding: 0 0 0 95px;
  display: flex;
}

.customers-section .img-wrap img {
  position: relative;
  z-index: 2;
}

.customers-section .img-wrap::before {
  content: "";
  width: 88.7%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: #244d4d;
  z-index: 1;
}

.customers-section .right-side {
  padding: 105px 0 105px 100px;
}

.right-side h2 {
  font-size: 32px;
  line-height: 48px;
  margin: 0 0 20px 0;
}

.right-side p {
  color: #383738;
  line-height: 1.4rem;
}

.right-side .review {
  display: flex;
  align-items: center;
}

.right-side .review .review-text {
  margin: 0 0 0 10px;
}

.right-side .review .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19rem;
  color: #000000;
  margin: 0 0 6px 0;
}

.right-side .review .review-text i {
  font-size: 16px;
  color: #ffb624;
}

.right-side .review .review-text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .three-columns .description {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .three-columns .left-box {
    padding: 0 0 10px;
    font-size: 10px;
  }

  .three-columns .bg-frame {
    flex-wrap: wrap;
  }
  .three-columns .right-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .three-columns .col-list {
    margin: 0;
    order: 2;
  }

  .all_furniture {
    padding: 40px 0;
  }

  .all-furniture .two-columns .col {
    flex-grow: 1;
    padding: 0 0 0 20px;
  }

  .all-furniture .two-columns .col_img,
  .all-furniture .two-columns .col_img img {
    width: 100%;
  }

  .all-furniture .btn-list {
    margin: 0 0 50px;
  }

  .all-furniture .btn-list button {
    margin: 0 20px;
    font-size: 18px;
  }

  .all-furniture .two-columns {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .all-furniture .two-columns {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .customers-section .cust {
    display: block;
  }
  .customers-section .img-wrap,
  .customers-section .img-wrap img {
    width: 100%;
  }
  .customers-section .right-side {
    padding: 50px 0;
  }

  .customers-section .cust h2 {
    font-size: 30px;
    line-height: 1.4rem;
  }
}
